<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="Aldimor_ServerStats::serverstats"
             title="Server Stats"
             module="Aldimor_ServerStats"
             sortOrder="10"
             parent=""
             action="serverstats/index/index"
             resource="Aldimor_ServerStats::serverstats"/>
    </menu>
</config>
